<!-- main.hbs-->

{{!-- 
Citation for the main.hbs file
Date: 3/1/24
Based on the code provided in CS 340 // nodejs_starter_app
This code was copied and modified for CRUD operations
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
--}}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/style.css">
    <title>VG Soundtracks</title>
</head>
<body>

    {{!-- Add navigation links. These were not included in the template --}}
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="customers">Customers</a>
            <a href="orders">Orders</a>
            <a href="orderItems">OrderItems</a>
            <a href="albums">Albums</a>
            <a href="songs">Songs</a>
            <a href="composers">Composers</a>
        </nav>
    </header>

    <h1>Group 63: Final Project</h1>
    

    {{{body}}}

</body>
</html>